
 

  <main>
    <article>
      <!-- 
        - #HERO
      -->
      <div class="hero">
        <div class="container">
          <div class="hero-content">
            <h2>Nous restons à votre écoute</h2>
            <p>Juste remplir le formulaire</p>
        
            <form action="/submit" method="post">
                <label for="nom">Nom :</label>
                <input type="text" id="nom" name="nom" required><br>
        
                <label for="email">Email :</label>
                <input type="email" id="email" name="email" required><br>
        
                <label for="message">Message :</label><br>
                <textarea id="message" name="message" rows="4" cols="50" required></textarea><br>
        
                <button class="btn btn-secondary">Envoyer </button>
            </form>
             </div>
         
        </div>
      </div>
    </article>
  </main>
  
  

 